*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  /* background-color: aqua; */
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.centratura {
  width: 1220px;
  height: 600px;
  margin: 0 auto;
}

/* layout immagine */
.img-prodotto {
  width: 380.94px;
  /* height: 600px; */
  /* background-color: red; */
  margin: 40px 10px 10px 0;
  float: left;
  position: relative;
}
/* /layout immagine */

/* cuore-preferiti */
.preferiti {
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 2;
}
.hearts {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
}
/* /cuore-preferiti */

/* sconto */
.container-sconto-percentuale {
  background-color: rgb(250, 50, 50);
  display: inline-block;
  width: 50px;
  height: 30px;
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 2;
  line-height: 30px;
}

.sconto-percentuale{
  color: white;
  font-weight: bold;
  text-align: center;
}

/* /sconto */

/* sostenibilità */
.container-sostenibilità {
  background-color: green;
  width: 110px;
  height: 30px;
  position: absolute;
  bottom: 60px;
  left: 50px;
  z-index: 2;
  line-height: 30px;
  margin-left: 5px;
}

.sostenibilità {
  color: white;
  text-align: center;
  font-weight: bold;
}

#sostenibilità {
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: 2;
  margin-left: 0;
}
/* /sostenibilità */

/* descrizione prodotto con prezzo */
.text-img {
  width: 380.94px;
  height: 50px;
  /* background-color: seagreen; */
  margin: 550px 10px 0 0;  
}

.sconto {
  color: red;
  font-weight: bold;
}
.prezzo-vero {
  color: black;
  text-decoration: line-through;
}

.titolo-prodotto {
  font-weight: bold;
}

/* /descrizione prodotto con prezzo */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* img base */
.base {
  height: 550px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
 }
/* /img base */
 .base:hover {
   display: none;
 }

 /* img hover */
 .hover {
   height: 550px;
   position: absolute;
   top: 0;
   left: 0;
 }
/* /img hover */